#my-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-left: 40px;
}

#my-page a.append{
    background-color: brown;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

#my-page-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

#btn-details{
    margin-left: 14px;
}

.empty-content{
    height: 300px;
    text-align: center;
    font-size: 22px;
    color: burlywood;
}
