.nav-active {
    color: rgba(65, 206, 253, 0.329);
}

.nav-non-active {
    color: rgba(10, 177, 189, 0.918);
}

.navbar a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}


.header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 168px;
  padding-top: 40px;
}
